[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
aiohttp = "*"
"discord.py" = {git = "https://github.com/Rapptz/discord.py", ref = "rewrite"}

[dev-packages]
