[Unit]
Description=RustBot (aka Ferris) for the Rust Programming Guild
After=network.target

[Service]
EnvironmentFile=/home/melo/env
Type=simple
User=melo
ExecStart=/home/melo/RustbotPython/venv/bin/python3 runner.py
WorkingDirectory=/home/melo/RustbotPython
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
