[Unit]
Description=RustBot (aka Ferris) for the Rust Programming Guild
After=network.target

[Service]
EnvironmentFile=/home/melo/env
Type=simple
User=melo
ExecStart=/home/melo/prod/venv/bin/python3.6 -m bot
WorkingDirectory=/home/melo/prod
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
